	<!-- start footer Area -->		
  <footer class="footer-area">
    <div class="container">
      <div class="row justify-content-center align-items-center">							
          <div class="footer-social  align-items-center">
            <div class="row justify-content-center align-items-center mb-30">
              <object id="svg1" data="assets/img/logo-footer.svg" type="assets/image/svg+xml" height="45px"></object>
              </div>
            <div class="row justify-content-center align-items-center">
              <a href="#"><object id="svg1" data="assets/img/Asset 4social_icon.svg" type="assets/image/svg+xml" height="20px"></object></a>
              <a href="#"><object id="svg1" data="assets/img/Asset 3social_icon.svg" type="assets/image/svg+xml" height="20px"></object></a>
              <a href="#"><object id="svg1" data="assets/img/Asset 2social_icon.svg" type="assets/image/svg+xml" height="20px"></object></a>
              <a href="#"><object id="svg1" data="assets/img/Asset 1social_icon.svg" type="assets/image/svg+xml" height="20px"></object></a>
              
            </div>
            
            <div class="container d-flex">
            <div class="textboxart text-center">
              <p><font color="white">
              <div class="footerabout">OUR STORY</div>
              <div class="footerabout">|</div>
              <div class="footerabout">CONTACT US</div>
              <div class="footerabout">|</div>
              <div class="footerabout">SITE MAP</div>
              <div class="footerabout">|</div>
              <div class="footerabout">TERMS & CONDITIONS</div>
              <div class="footerabout">|</div>
              <div class="footerabout">PRIVACY POLICY</div>
            
                    </font></p>
              
              </div>
          </div>
            <div class="row justify-content-center align-items-center">
                                <p><font color="white" size="1">Copyright &copy;<script>document.write(new Date().getFullYear());</script> World of Travel</font></p>
          </div>
        </div>							
      </div>
    </div>
  </footer>	
  <!-- End footer Area -->	